---
---
html, body {
  font-family:Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  width: 100%;
  text-align:center;
}

table {
  text-align:center;
  margin: 0 auto;
  width:100%;
}

html {
  font-family:Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}

section {
  {% if site.section_image %}
  background:url("{{ site.section_image | relative_url }}");
  {% endif %}
  background-size:cover;
}

.container {
  width:100% !important;
}

.page-header {
  color: #fff;
  text-align: center;
  {% if site.header_image %}
  background: url("{{ site.header_image | relative_url }}");
  background-size: cover;
  padding: 3rem;
  {% endif %}
  {% if site.theme_color_1 and site.theme_color_2 %}
  background-color: #{{ site.theme_color_1 }};
  background-image: linear-gradient(120deg, #{{site.theme_color_1}}, #{{site.theme_color_2}});
  padding: 1rem;
  {% endif %}
}

.imagecontainer {
  width:250px;
  height:150px;
  margin:1%;
  vertical-align:middle;
  text-align: center;
  display: table-cell;
  background-color: #f6f6f7;
}
.imagesquare {
  border:0;
  margin:1%;
  background-color:#ffffff;
  text-align: center;
  display: table-cell;
  border-radius: 12px;
  box-shadow: 0 2px 8px #0000000d;
  transition: transform .2s ease;
  overflow: hidden;
}

button a {
  color:white;
  text-decoration:none;
}

section a {
  color: blue;
}

h1 {
    font-size: 2em;
    margin-top: 3%;
    margin-bottom: 1%;
    font-weight: 300;
    line-height:1.3em;
  }

h2 {
  color:#909090;
  font-weight:300;
  text-align:center;
  margin-bottom:3%;
  margin-top:2%;
}

h3 {
  color:#101010;
  font-weight:300;
  text-align:center;
  margin-bottom:2%;
  margin-top:2%;
}

td, th, tr {
  font-weight:400;
  width:10%;
  position:relative;
}

tr {
  height: 15em;
}

thead tr, tbody tr:has(th) {
  height: 3em;
}

th {
  font-weight:800;
  font-size: larger;
}

td img {
  width:100%;
  padding:1em;
}

td img[alt$="eps"] {
  width: 60px;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #c2c2c2;
}

thead tr th {
  background-color: #{% if site.theme_color_1 %}{{ site.theme_color_1 }}{% else %}aaaaaa{% endif %};
  color: white;
}

table {
  width:65%;
  margin-bottom:5%;
  margin-top:2%;
  border-radius: 12px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

table.logos-table tbody tr td:not(.empty) {
  background-image: url('https://image.flaticon.com/icons/svg/60/60721.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.icon {
  width: 9%;
  float: right;
  opacity: 0.3;
  position:absolute;
  top:5%;
  right:5%;
}

.iconbig {
  width: 4%;
  float: right;
  opacity: 0.4;
  position:absolute;
  top:4%;
  right:4%;
}

.imagesquare img{
  width:100%;
  padding:10%;
  display: block;
  max-height: 150px;
  max-width: 250px;
  height: auto;
  width: auto;
  margin: auto;
}

em {
  font-size:0.9em;
  opacity:0.6;
}

.imagesquarecta {
  {% if site.theme_color_1 %}
  background-color: #{{ site.theme_color_1 }};
  {% else %}
  background-color:#aaaaaa;
  {% endif %}
  color:white;
  text-transform:uppercase;
  font-weight:800;
  padding:4%;
  float:left;
  width:100%;
  text-align:center;
  font-size:0.9em;
  border-radius: 0 0 12px;
  box-shadow: 0 2px 8px #0000000d;
  transition: transform .2s ease;
  overflow: hidden;
}

.outer-wrapper{
  display: inline-block;
  margin:1%;
}

.logo {
  margin-top:1%;
  width:50%;
  margin-bottom:1%;
}

.logo img {
  width:100%;
}

.logos:not(body.logos) {
  padding-left:10%;
  padding-right:10%;
  padding-top:2%;
  width:100%;
  padding-bottom:10%;
}

button {
  background-color: transparent; /* Green */
  border: 2px solid white;
  color: white;
  padding: 10px 32px;
  text-align: center;
  margin-top:2%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  margin: 1em;
}

@media only screen and (max-width: 700px) {

  .logo {
    margin-top:1%;
    width:100%;
    margin-bottom:5%;
  }

  .logos:not(body.logos)  {
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    width:100%;
    padding-bottom:10%;
  }

  table {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:10%;
  }

  .imagecontainer {
    width:200px;
    height:200px;
    margin:1%;
    vertical-align:middle;
    text-align: center;
    display: table-cell;
  }
}
