<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.description -%}
  <meta name="description" content="{{ page.description }}">
  {%- elsif page.project -%}
  <meta name="description" content="{{ page.project }} Artwork">
  {%- else -%}
  <meta name="description" content="{{ site.description }}">
  {%- endif -%}
  <link rel="image_src" href="{% if page.featured_image %}{{ page.featured_image | relative_url }}{% else %}{{ site.primary_logo | relative_url }}{% endif %}">
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css" integrity="sha384-fVquC3DHMyHQJ7MasHkVMX2RLx5O6r2+Eh/NB9eZUSRGntVASwPIr1DFKzSpwTxD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style2.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  {%- if page.project -%}
  <title>{{ page.project }} - {{ site.title }}</title>
  {%- elsif page.title -%}
  <title>{{ page.title }} - {{ site.title }}</title>
  {%- else -%}
  <title>{{ site.title }}</title>
  {%- endif -%}
  {% if site.gtm_container_id %}
  <!-- Google Tag Manager -->
  <script type="text/javascript" nonce="dcfe81b933">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ site.gtm_container_id }}');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
{% if site.gtm_container_id %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_container_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

<div class="page-header">
  <div class="container">
    <div class="text-center">
      <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ site.header_logo | relative_url }}" alt="Project Logo"></a>
    </div>
  </div>

  <div>
    <button><a href="{{site.github_repo}}">View on Github</a></button>
  </div>
</div>

{{ content }}
  
<p>
{% include copyright_footer.html %}
</p>

</body>

</html>
