<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- if page.description -%}
  <meta name="description" content="{{ page.description }}">
  {%- elsif page.project -%}
  <meta name="description" content="{{ page.project }} Artwork">
  {%- else -%}
  <meta name="description" content="{{ site.description }}">
  {%- endif -%}
  <link rel="image_src" href="{% if page.featured_image %}{{ page.featured_image | relative_url }}{% else %}{{ site.primary_logo | relative_url }}{% endif %}">
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style2.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  {%- if page.project -%}
  <title>{{ page.project }} - {{ site.title }}</title>
  {%- elsif page.title -%}
  <title>{{ page.title }} - {{ site.title }}</title>
  {%- else -%}
  <title>{{ site.title }}</title>
  {%- endif -%}
  {% if site.ga_tracking_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.ga_tracking_id }}', {'anonymize_ip': true });
  </script>
  {% endif %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

<div class="page-header">
  <div class="container">
    <div class="text-center">
      <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ site.header_logo | relative_url }}" alt="Project Logo"></a>
    </div>
  </div>

  <div>
    <button><a href="{{site.github_repo}}">View on Github</a></button>
  </div>
</div>

{{ content }}
  
<p>
{% include copyright_footer.html %}
</p>

</body>

</html>
