---
layout: default
permalink: /
---

<section>
  <div class="logos">
    <h2>{{ site.title }}</h2>
    
    <p>{% include trademark_text.html %}</p>

{% for category in site.logo_categories %}
{% assign logo_groups = site.pages | where: "level", category | sort: "title" | sort: "order" %}
{% for logo_group in logo_groups %}
{% if forloop.first %}
<h3>{{ category }}</h3>
{% endif %}

<a href="{{ logo_group.dir }}">
<div class="outer-wrapper">
<div class="imagesquare">
<div class="imagecontainer"><img src="{{ logo_group.dir }}{{ logo_group.featured_image }}" alt="{{ logo_group.title }}" onerror="this.parent.parent.parent.parent.style.display='none'"></div><div class="imagesquarecta">View Logos »</div></div>
</div>
</a>
{% endfor %}
{% endfor %}

</div>
</section>
