---
description: Member artwork for The Linux Foundation
title: The Linux Foundation Member Logos
level: Other Logos
featured_image: /assets/tlf-member/horizontal/platinum/tlf-member-horizontal-platinum.svg
layout: default
order: 99
---

<h1>The Linux Foundation Member Logos</h1>

<table class="logos-table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">PNG</th>
            <th scope="col">SVG</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Platinum</th>
	    <td><a href="/assets/tlf-member/horizontal/platinum/tlf-member-horizontal-platinum.png" download><img alt="tlf-member-horizontal-platinum.png" src="/assets/tlf-member/horizontal/platinum/tlf-member-horizontal-platinum.png" width="200"></a></td>
            <td><a href="/assets/tlf-member/horizontal/platinum/tlf-member-horizontal-platinum.svg" download><img alt="tlf-member-horizontal-platinum.svg" src="/assets/tlf-member/horizontal/platinum/tlf-member-horizontal-platinum.svg" width="200"></a></td>
        </tr>
        <tr>
            <th scope="row">Gold</th>
            <td><a href="/assets/tlf-member/horizontal/gold/tlf-member-horizontal-gold.png" download><img alt="tlf-member-horizontal-gold.png" src="/assets/tlf-member/horizontal/gold/tlf-member-horizontal-gold.png" width="200"></a></td>
            <td><a href="/assets/tlf-member/horizontal/gold/tlf-member-horizontal-gold.svg" download><img alt="tlf-member-horizontal-gold.svg" src="/assets/tlf-member/horizontal/gold/tlf-member-horizontal-gold.svg" width="200"></a></td>
        </tr>
        <tr>
            <th scope="row">Silver</th>
            <td><a href="/assets/tlf-member/horizontal/silver/tlf-member-horizontal-silver.png" download><img alt="tlf-member-horizontal-siler.png" src="/assets/tlf-member/horizontal/silver/tlf-member-horizontal-silver.png" width="200"></a></td>
            <td><a href="/assets/tlf-member/horizontal/silver/tlf-member-horizontal-silver.svg" download><img alt="tlf-member-horizontal-silver.svg" src="/assets/tlf-member/horizontal/silver/tlf-member-horizontal-silver.svg" width="200"></a></td>
        </tr>
        <tr>
            <th scope="row">Associate</th>
            <td><a href="/assets/tlf-member/horizontal/associate/tlf-member-horizontal-associate.png" download><img alt="tlf-member-horizontal-associate.png" src="/assets/tlf-member/horizontal/associate/tlf-member-horizontal-associate.png" width="200"></a></td>
	    <td><a href="/assets/tlf-member/horizontal/associate/tlf-member-horizontal-associate.svg" download><img alt="tlf-member-horizontal-associate.svg" src="/assets/tlf-member/horizontal/associate/tlf-member-horizontal-associate.svg" width="200"></a></td>
        </tr>
    </tbody>
</table>

